# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/External/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Build
*.apk
*.aab
*.unitypackage

# Logs
*.log

# Unity Pro
ProjectSettings/AssetImportState.asset
